.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    padding: 2rem;
    padding-bottom: 150px;
    scrollbar-gutter: stable;
}

.header {
    margin-bottom: 2rem;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}
